

.cardBody {
    margin-top: 20px;
}
.single-card-people {
    width: 19%;
}
.single-card-movie {
    width: 24%;
}
.single-card-playing {
    width: 15%;
}
#now-playing .card-text{
    height: 100px;
    overflow: hidden;
}
.single-card-tv {
    width: 19%;
}
.tv-show .card-text{
    height: 100px;
    overflow: hidden;
}
.single-card-on-air{
    width: 15%;
}
#on-air-today .card-text{
    height: 100px;
    overflow: hidden;
}

.all-movies .single-card-movie {
    width: 15%;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 10px;
}

h2{
    background-color: grey;
    text-align: center;
}
