nav {
   
}
.nav {
    margin: 0 !important;
}
.nav a{
    color: #444;
    text-decoration: none;
}
.nav a:hover{
    font-weight: bold;
   
}

.logo-header {
  display: flex;
  justify-content: center;
}
.logo{
  width: 160px;            
  margin: 0;               
}

logo nav {
    display: flex;
    flex-direction: column;

}

.header-main-container {
  width: 100%;
  color: black;
}

.header-menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  padding: 16px 24px;
  background-color: #000;

}


.buscador-peliculas-index {
    background-color: black;
}
.buscador-peliculas-index form{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    margin-right: 30px;

}
.buscador-peliculas-index form input{
    margin-right: 10px;
}
.buscar-boton{
    align-self: center;
    cursor: pointer;
    font-weight: bold
}
.campo-mensaje{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: bold;
}

.header-menu {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}



.nav-link {
    color: white;
    font-weight: bold;
}


@media(min-width: 765px){
    nav {
        grid-template-columns: 4fr 3fr;
    }
}