.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: hsla(10, 95%, 49%, 0);
  gap: 1.5%;
  margin: 10px;
  border-radius: 20px;
}

.body{
    background: linear-gradient(135deg, #8e2de2, #4a00e0);
}