body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(135deg, #8e2de2, #4a00e0);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pop{
  display: inline-block;
  color: rgb(79, 3, 244);
  background-color: azure;
  padding: 2px;
  margin: auto;
  width: auto;
}

.menu-principal {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menu-principal li {
   
    
}
header a {
    text-decoration: none;
    color: rgb(1, 0, 1);
    width: 15%;
}

h2{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  font-size: 50px;
}

.cargando{
  padding: 0.5%;
  margin: 5%;
  background-color: black;
  color: aliceblue;
  border-radius: 25%;
  border-color: 2px solid #ffffff;
  margin: 0 auto;
  display: block;
}
